/**
 * src/assets/css/TenerifeMap/MapBase.css
 * Estilos de caja contenedora principal e instanciación del mapa.
 */

/* ========================================== */
/* ESTRUCTURA BASE Y LAYOUT DEL MAPA          */
/* ========================================== */
.map-page-container {
    display: flex;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

/* ========================================== */
/* ENVOLTORIO DEL MAPA NATIVO                 */
/* ========================================== */
.map-wrapper {
    flex-grow: 1;
    position: relative;
    transition: all 0.3s ease;
    margin: 0 !important;
}

/* ========================================== */
/* ADAPTACIÓN RESPONSIVE E INYECCIONES PANELES */
/* ========================================== */
@media (max-width: 1200px) {
    .map-wrapper.with-panel {
        /* Fuerza a que el mapa siga ocupando el ancho total (debajo de bottom sheets) incluso con paneles laterales forzados */
        margin-right: 0 !important;
        margin: 0 !important;
    }
}